@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
    box-sizing: border-box;
    --scrollbarBG: #CFD8DC;
    --thumbBG: #091F43;
    }
    
    body {
      margin: 0;
      padding: 0;
      text-rendering: optimizeLegibility;
      scrollbar-color: var(--thumbBG) var(--scrollbarBG);
      
    }
    body::-webkit-scrollbar-track {
      background: var(--scrollbarBG);
    }
    body::-webkit-scrollbar {
      width: 13px;
    }
    body::-webkit-scrollbar-thumb {
      background-color: var(--thumbBG) ;
      border-radius: 6px;
      border: 3px solid var(--scrollbarBG);
      
    }
    *, *:before, *:after {
      box-sizing: inherit;
    }
    
    h1 {
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      margin-bottom: 5em;
    }
    
    h2 {
      font-family: 'Poppins', sans-serif;
    }

.posts {
  width: 700px;
  margin: 3em auto 3em;
  padding: 20px;
  border: 1px solid rgb(219, 218, 218);
  background-color: #fff;
  border-radius: 10px;
}

.posts_header {
  display: flex;
  margin-bottom: 10px;
}

.posts_title {
  margin-left: 10px;
}

.posts_title > h3 {
  font: size 15px;
}

.posts_title > p {
  font: size 12px;
  color: gray;
}

.posts_body {
  overflow-wrap: anywhere;
}

.posts_buttons {
  border-top: 1px solid gray;
  display: flex;
  justify-content:space-evenly;
  margin: 10px;
}