@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
box-sizing: border-box;
--scrollbarBG: #CFD8DC;
--thumbBG: #091F43;
}

body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar {
  width: 13px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
  
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-bottom: 5em;
}

h2 {
  font-family: 'Poppins', sans-serif;
}

.card-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.profilecard {
  flex: 0.5;
}

.profile-item{
    margin: 50px;
    color: #fff;
    width: 500px;
    background-color: #0000008f;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    display: flex;
    flex-direction: column;
    background-clip: padding-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .profile_buttons {
    display: flex; 
    justify-content: space-evenly;
    margin-bottom: 20px;
  }
  
  .btndelete {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    color: #e63946 ;
    outline:none;
  }
  
  .btnedit {
    color: #59abee;
    border: none;
    background-color: Transparent;
    background-repeat:no-repeat;
    outline:none;
  }

  .btncheck {
    color: rgb(130, 230, 130);
    border: none;
    background-color: Transparent;
    background-repeat:no-repeat;
    outline:none;
  }
