@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
    box-sizing: border-box;
    --scrollbarBG: #CFD8DC;
    --thumbBG: #091F43;
    }
    
    body {
      
      margin: 0;
      padding: 0;
      text-rendering: optimizeLegibility;
      scrollbar-color: var(--thumbBG) var(--scrollbarBG);      
    }
    body::-webkit-scrollbar-track {
      background: var(--scrollbarBG);
    }
    body::-webkit-scrollbar {
      width: 13px;
    }
    body::-webkit-scrollbar-thumb {
      background-color: var(--thumbBG) ;
      border-radius: 6px;
      border: 3px solid var(--scrollbarBG);
      
    }
    *, *:before, *:after {
      box-sizing: inherit;
    }
    
    h1 {
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      margin-bottom: 5em;
      margin-top: 32px;
    }
    
    h2 {
      font-family: 'Poppins', sans-serif;
    }
.post_main {
  background-color: #f3f2ef;
}
.header_search {
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  height: 40px;
  width: 250px;
  color: rgb(7, 7, 7);
  background-color: #ffffff;
  border: 1px solid rgb(219, 218, 218);
}

.header_search > input {
   outline: none;
   border: none;
   background: none;
   font-size: 14px;
   width: 100%;
}

.post_container {
    width: 700px;
    margin: 6em auto 8em;
    padding: 20px;
    border: 1px solid rgb(219, 218, 218);
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    background-color: #fff;
    border-radius: 10px;
}
.post_avatar {
    margin-right: 2em;
}

.form_inputtitle {
padding: 10px;
border-radius: 20px;
}

.form_inputdescription {
  resize: none;
  padding: 20px 10px 20px 10px;
  border-radius: 20px;
  height: 100px;
  width: 100%;
}

.form_inputdescription:focus, .form_inputtitle:focus {
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 4px rgb(0, 128, 128);
    outline: 0 none;
}


#description, #title {
    font-family: 'Kanit', sans-serif;
    border: 1px solid rgb(219, 218, 218);
    margin-bottom: 10px;
    background-color: #edf1f5;
}

.details {
  margin-top: 30px;
}

#file {
  margin-bottom: 20px;
}

.button-post {
    justify-content: right;
    min-width: 60px;
    border: none;
    background-color: #378fe9 ;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    font-weight: bold ;
    padding: 10px 30px 10px;
}
.button-post:hover {
  background-color: #004182;
  cursor: pointer;
}
.button-group {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-top: 20px;
}

.postForm_inputOptions {
  display: flex;
  justify-content:space-evenly;
  margin: 10px;
}