.home_main {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.home_titles {
    display: flex;
    justify-content: space-evenly  ;
    flex-direction: column;
    flex: auto;
    text-align: left;
    margin: 20px;
}

.home_titles > h1 {
    font-weight: bold;
}


.home_design {
    flex: 0.5;
}

