@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
box-sizing: border-box;
--scrollbarBG: #CFD8DC;
--thumbBG: #091F43;
}

body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar {
  width: 13px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
  
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-bottom: 5em;
}

h2 {
  font-family: 'Poppins', sans-serif;
}


.accueil {
  margin-top: 5rem;
  margin-bottom: 5rem;
}



/*img {
  object-fit: cover;
}*/

.container {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 100px;
}


.nav-buttons {
  width: 100%;
  height: 100px;
  padding-top: 40px;
  opacity: 1;
  margin-bottom: 3em;
}
.search {
  font-size:24px;
  border-radius: .25rem ;
}



#collapsibleNavbar {
justify-content: flex-end;
}



.forgot-panel {
  position: relative;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -300px;
  text-align: center;
  padding-top: 24px;
  border-top: solid 1px rgba(255,255,255,.3);
  color: grey;
}







.cardtitle {
color: #091F43;
margin-bottom: 25px;
}

.cardtitle h1 {
  font-weight:bolder;
}

input[type=search]{
 height: 40px;
 border-radius: 5px;
 border: 1px solid;
 padding: 6px 12px 6px 12px;
}

.btnPost {
  margin-top: 2em;
  margin-left: 2em;
}

footer{
  background: #091F43;
  padding: 32px 0;
  display:flex;
  justify-content:space-evenly;
}

.footer_title{
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -.02em;
  margin-top: 10px;
  margin-bottom: 30px;
}

footer ul {
list-style: none;
}

footer ul li {
  margin: 2em;
  color: #ffffff;
  font-family: 'Kanit', sans-serif;
  font-size: 15px;
}



.card-img { 
  margin-bottom: 10px; 
}

.cardtext {
  margin: 20px;
}

